.add.employee
   div.flex-center
      #steps
         .step(data-desc="User Creation").active 1
         //.step(data-desc="Create Profile") 2
         .step(data-desc="Assign Rights") 2

   div.flex-center(ui-view="step").animate-form
