div.flex-center
   div.panel.smallish
      fieldset
         legend Search By Email
         .field
            input(type='text' placeholder='admin@company.com.au' ng-model='email')
         .field.right
            button.dark-accent(ng-click='search(email)') Search