div.flex-container
   //div.flex-left
      div.panel.small
         .top-bar
            .title Built Menu's
            button.small.grey.wider Build New Menu
   div.flex-container
      div.panel
         .top-bar
            //.title All
         button.dark-accent(ui-sref='authenticated.main.catering.menu.category.index') View Menu Items
      .panel
        .top-bar
        button.dark-accent(ui-sref='authenticated.main.catering.menu.new') Build Menu