.panel
  .top-bar
    .title Snack Conditions
  p A minimum order of 4 platters applies when ordering from the snack menu (excluding crisps, tea & coffee service, cupcakes, birthday cakes & ice creams)
  br
  p Service charge applicable to all snack menus: Monday to Saturday + $250, Sunday & Public Holidays +$300
  hr
  .field.right
    button.dark-accent(ng-click="$close()") Accept