.field.pfix
  label Send reminder to clients who haven't confirmed yet
  input(type="number" placeholder="0")
  span.postfix Workdays Before Event

//.field.pfix
  label Change event status to closing soon
  input(type="number" placeholder="0")
  span.postfix Workdays Before Event

.field.pfix
  label Change event status to closed
  input(type="number" placeholder="0")
  span.postfix Workdays Before Event

