.panel
  .top-bar
    .title Available Reports

  div
    button.grey.full(ng-click="viewSuiteOrders()") Suite Orders
  hr
  div
    button.grey.full(ng-click="viewGuestList()") Guest List
  hr
  div
    button.grey.full(ng-click="viewUnConfirmedReport()") Clients without confirmations
  hr
  div
    button.grey.full(ng-click="viewCateringReport()") Catering