.flex-container
  .flex-left
    .panel(ui-sref="authenticated.main.reporting.suiteOrders.eventSelect")
      .top-bar
        .title Suite Orders
  .flex-right
    .panel
      .top-bar
        .title Guest Lists
    .panel(ui-sref="authenticated.main.reporting.cateringExplosion.eventSelect")
      .top-bar
        .title Catering Explosion