h2 Here is your password reset link to the new Allphones Arena portal.
h2 This link will send you to a page where you can create a password for our system.
h2 Once done, you are able log in with this email address and password you just created.
h2 Thankyou
a(href="#{@request[:url]}/reset/password/#{@token}") Click Me