#event-view
  .row
    .panel
      //.top-bar
        button.small.grey(ng-click="eventEditing = true" ng-hide="eventEditing") Edit
      .details
        .top-bar
          .title(ng-bind="event.data.name" ng-if="event.data.name")
          .actions
            button.small.grey(ng-click="editEvent()") Edit
        .info-pair
          .lead Type
          .data
            div(ng-bind="event.data.event_type")
        .info-pair
          .lead Status
          .data
            div(ng-bind="event.data.status")
        .info-pair
          .lead Description
          .data
            div(ng-bind="event.data.description")
        .info-pair
          .lead Agenda
          .data
            div(ng-bind="event.data.agenda")

    .panel
      .top-bar
        .title Event Dates
        button.small.grey.wide(ng-click="newEventDate()") New Date
      table
        tbody
          tr(ng-repeat="date in dates")
            td(ng-bind="date.data.facility.name")
            td
              span(ng-bind="date.data.start | amDateFormat: 'D'")
              sup(ng-bind="date.data.start | amDateFormat: 'Do' | filterNumeric" )
              span(ng-bind="date.data.start | amDateFormat: ' MMMM YYYY'" )
              .time(ng-bind="date.data.start | amDateFormat: 'h:mm a'")
            td
              span(ng-bind="date.data.finish | amDateFormat: 'D'")
              sup(ng-bind="date.data.finish | amDateFormat: 'Do' | filterNumeric")
              span(ng-bind="date.data.finish | amDateFormat: ' MMMM YYYY'")
              .time(ng-bind="date.data.finish | amDateFormat: 'h:mm a'")
            td.actions
              button.small.dark-accent.outline(ng-click="editDate(date)") Edit
              button.small.dark-accent.outline(ng-click="releaseDate(date)") Release
