div.panel#help-modal
  p
    strong All Venue and Non-technical Related Queries
    br
    | Please email Kelly at
    br
    a(href="mailto:kmacintosh@allphonesarena.com.au") kmacintosh@allphonesarena.com.au
    br
    | or phone Kelly on
    br
    a(href="tel:0287654352") (02) 8765 4352
  hr
  p
    strong All technical issues related to this software
    br
    |Please email
    br
    a(href="mailto:cs@turnkeyhospitality.com.au") cs@turnkeyhospitality.com.au
    br
    | or  phone Scott on
    br
    a(href="tel:0414652480") 0414 652 480

  .field.right
    button.dark-accent(ng-click="$close()") Close