.panel
  .toolbar(ng-if="Auth.currentUser.company.company_type == 'venue'")
    .filters
      .field.search
        input(type="text" placeholder="Client / Event Name" ng-change="updateFilter()" ng-model="$parent.filterValue" autofocus)
      //.field.select.small
        select(ng-model="filterModel.data.status")
          option(value="") Filter By Status
          option(value="coming soon") Coming Soon
          option(value="open") Open
          option(value="closing soon") Closing Soon
          option(value="closed") Closed
      //.field
      //  label With Parking
      //    input(type="checkbox" ng-model="$parent.filterWithParking" ng-change="updateFilter()")
      //.field
      //  label With Hard Tickets Only
      //    input(type="checkbox" ng-model="$parent.filterHardTickets" ng-change="updateFilter()")
    //button.export Export as CSV
  table
    thead
      tr
        th ID
        th.time Date Confirmed
        th Name
        th Start Time
        th Facility Name
        th(ng-if="Auth.currentUser.company.company_type =='venue'") Client Name
        th(ng-if="Auth.currentUser.company.company_type =='venue'") Reminders
        th.actions Actions
    tbody
      tr(ng-repeat="event in data | filterMultiple:filterModel | orderBy:'event_date.start'" ng-class="!event.is_attending && 'red'")
        td(ng-bind="$index")
        td.time(ng-bind="event.created_at | date")
        td
          span(ng-bind="event.event_date.event_name")
        td
          span(ng-bind="event.event_date.start | amDateFormat: 'D'")
          sup(ng-bind="event.event_date.start | amDateFormat: 'Do' | filterNumeric" )
          span(ng-bind="event.event_date.start | amDateFormat: ' MMM YYYY'" )
          .time(ng-bind="event.event_date.start | amDateFormat: 'h:mm a'")
        //td(ng-bind="event")
        td(ng-bind="event.facility_name")
        td(ng-if="Auth.currentUser.company.company_type =='venue'" ng-bind="event.company.name")
        td(ng-if="Auth.currentUser.company.company_type =='venue'")
          .field(ng-if="event.company.ticket_type == 'hard'")
            label Hard Tickets Sent
              input(type="checkbox" ng-model="event.data.hardTicketsSent" ng-change="updateOption(event)")
          .field(ng-if="event.selection.parkingSpaces")
            label Parking Allocated
              input(type="checkbox" ng-model="event.data.parkingAllocated" ng-change="updateOption(event)")
        td.actions
          button.dark-accent.outline.small(ng-click="viewDetails(event)") View Details