div.flex-center
  div.panel.smallish
    .top-bar
      .title Password Reset
    form(novalidate name="form")
      .field
        input(type="password" placeholder="Password" ng-model="data.password" required ng-minlength="6")
      .field
        input(type="password" placeholder="Password Confirmation"
          ng-model="data.password_confirmation" required
          ui-validate=" '$value==data.password' "
          ui-validate-watch="'data.password'"
        )
      .field.right
        button(ng-bind="buttonText" ng-disabled="form.$invalid && buttonDisabled" ng-click="resetPassword(data)")