.modal.fade(tabindex='-1' ng-class='{in: animate}' ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click='close($event)')
   .modal-dialog(ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}")
      .modal-content(ng-transclude)